@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

main {
  height: 100vh;
  width: 100%;
  background: #b53471;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 550px;
  min-height: 500px;
  background: white;
  border-radius: 5px;
  padding: 15px;
}

#item {
  padding: 10px;
  font-size: 20px;
  border: 0;
  font-weight: bold;
  outline: 0;
  box-shadow: 0px 0px 2px gray;
  width: 100%;
}

#to-do-box {
  list-style: none;
  margin-top: 20px;
}

#to-do-box li {
  position: relative;
  background-color: #686de0;
  color: white;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  padding-right: 25px;
  margin-top: 10px;
  user-select: none;
}

#to-do-box li i {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: black !important;
  opacity: 0.7;
}
